:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* ======== HEADER */
/* logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.logo-web {
  color: #2196f3;
}

.logo-studio-header {
  color: #000000;
}

.logo-studio-footer {
  color: #ffffff;
}
/* nav */
.nav-link link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.nav-list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.active-link {
  color: #2196f3;
}

.contact-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--secondary-color);
}

.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

/*========== HERO */
.hero {
  background: #2f303a;
}

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*========= FEATURES */
.features-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.features-text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/*========== ABOUT */
.about-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  /*text-align: center;*/
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

/*=========== OUR-TEAM*/
.team-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  /*text-align: center;*/
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.team-it {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

/* ================FOOTER========= */
.footer {
  background: #2f303a;
}

.address-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.contact-footer {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/*==================PORTFOLIO=================*/
/*========== FILTERS portfolio*/
.filters-list-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  /* text-align: center; */
  letter-spacing: 0.03em;

  color: #ffffff;
}

.filters-list-item:hover,
.filters-list-item:focus {
  color: #2196f3;
}

/* ========= PROJECTS */
.projects-name {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2.11;
  letter-spacing: 0.06em;

  color: var(--accent-color);
}

.projects-it {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}
.projects-link:hover,
.projects-link:focus {
  color: #2196f3;
}
