:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* ======== HEADER */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #000000;
}

.logo-web {
  color: #2196f3;
}

.nav-link link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 15;
  letter-spacing: 0.02em;

  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.contact-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 15;
  letter-spacing: 0.02em;

  color: #757575;
}

.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

/*========== HERO */
.hero {
  background: #2f303a;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*========= FEATURES */
.features-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 15;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features-text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;

  color: #757575;
}

/*========== ABOUT */
.about-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  /*text-align: center;*/
  letter-spacing: 0.03em;

  color: #212121;
}

/*=========== OUR-TEAM*/
.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 16;
  /*text-align: center;*/
  letter-spacing: 0.03em;

  color: #212121;
}

.footer {
  background: #2f303a;
}

.logo-studio {
  color: #ffffff;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.contact-footer {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
